/* 
* Projet Booki 
* Auteur : jean-jacques boero
* Année : 2022
*/

/* charte du site */
:root {
    --color-1: #0065FC;
    --color-2: #DEEBFF;
    --color-3: #F2F2F2;
    --color-4: #fdfdfd;

    --fonts-black: #000000;
    --font-family: 'Raleway', sans-serif;

    --size-1: 60px;
    --fontsize-1: 10px;
}
/* global style */

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

body{
    margin: 0;
    padding:0;
}

* {
   font-family: var(--font-family);
   font-size: var(--fontsize-1);
}
a {
    text-decoration: none;
}

/* ============================================================================================== */
/* ===================================== HEADER STYLES  ========================================= */
/* ============================================================================================== */

#header {
    margin: 0;
    height: var(--size-1);
    padding-bottom: 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: var(--color-4);
    overflow: hidden;
}
#header a {
    padding-bottom: 0;
    font-size: 2em;
}
#header .link-logo-img {
    max-height: var(--size-1);
    margin-left: 80px;
}
#header .nav {
    height: 100%;
}
#header .nav-ul {
    margin: 0 ;
    margin-right: 80px;
    padding-bottom: 0 !important;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}
#header .nav-li {
    margin-left: 5px;
    margin-right: 5px;
    padding: 0;
    min-height: 100%;
    list-style: none;
}
#header .nav_link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 2px;
    text-decoration: none;
    min-height: var(--size-1) !important; 
    color: var(--fonts-black);
}
#header .nav_link:hover {
    color: var(--color-1);
}

/* =============== HEADER RESPONSIVE =============== */

/*TABLETTES*/
@media screen and (min-width: 768px){
    /* animation link header */
    #header .nav-li {
        border-width:0;    
        border-top-style:solid;
        border-top-color: var(--color-1);
        -webkit-transition: all .05s ease-in;
                -o-transition: all .05s ease-in;
                transition: all .05s ease-in;
    }
    #header .nav-li:hover{
        border-width: 5px;
        -webkit-transform: translateY(-2px);
        -ms-transform: translateY(-2px);
            transform: translateY(-2px);
    }
    #header .active {
        margin-top: 0px;
        color: var(--color-1);
        background-color: var(--color-2);
        border-top: 2px solid var(--color-1);
    }
}
/*MOBILES*/   
@media screen and (max-width: 768px) {

    #header {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        height: auto;
    }
    /* logo */
    #header .link-logo {
        width: 100%;
        text-align: center;
    }
    #header .link-logo-img{
        margin-left: 0;
    }
    /* nav */
    #header .nav-ul{
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: stretch;
            -ms-flex-align: stretch;
                align-items: stretch;
        margin-right: 0;
        padding: 0;
    }
    #header .nav-li {
        margin: 0;
        min-height: 100%;
        list-style: none;
        -webkit-box-flex: 1;
            -ms-flex-positive: 1;
                flex-grow: 1;   
    }
    .nav-li .nav_link{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        border-bottom: 4px solid var(--color-3);
        -webkit-transition: all .1s ease-in;
                -o-transition: all .1s ease-in;
                transition: all .1s ease-in;
    }
    .nav-li .nav_link:hover{
        color: var(--color-1);
        border-color: var(--color-1);
    }
    #header .active {
        color: var(--color-1);
        background-color: var(--color-2);
        border-bottom: 4px solid var(--color-1);
    }
    
}
/* ============================================================================================== */
/* ====================================  ASIDE STYLES  ========================================= */
/* ============================================================================================== */

#main {
    background-color: #ffffff;
    overflow: hidden;
    padding-top: 40px;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

}
.main-aside{
    width: 85%;
}
.main-title {
    margin: 0;
}
.main-aside-text{
    font-size: 2.2em;
}

/* FORM RESEARCH */
.main-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
}
.main-form-span {
    width: 40px;
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-align-items: center;
   
    background-color: var(--color-3);
    border-radius: 10px 0px 0px 10px;
    
    padding-left: 3px;
}
.main-form-span .fas {
    font-size: 2.8em;
}
.main-form-input {
    margin: 0;
    border: 1px solid var(--color-3);
    padding-left: 4px;
    min-width: 250px;
    font-size: 2em;
}
.main-form-button{
    background-color: var(--color-1);
    color: var(--color-4);
    border: none;
    margin: 0;
    border-radius: 0px 10px 10px 0px;
    min-width: 150px;
    text-align: center;
}
.main-form-button-text {
    font-size: 2em;
    margin: 0;
}
.main-form-button:hover{
    -webkit-box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
            box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

/* FILTER */
.main-filter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin: 20px 0 20px 0; 
}
.main-filter-title{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 3em;
    margin: 0 16px 0 0;
}
.main-filter-wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.main-filter-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 35px;
    width: 250px;
    border: 1px solid var(--color-2);
    border-radius: 35px 10px 10px 35px;
    margin-left: 20px;
    cursor: pointer;
    /* Annimation hover filter */
    background: -webkit-gradient(linear, right top, left top, color-stop(50%, #ffffff), color-stop(50%, var(--color-2))) right;
    background: -o-linear-gradient(right, #ffffff 50%, var(--color-2) 50%) right;
    background: linear-gradient(to left, #ffffff 50%, var(--color-2) 50%) right;
    background-size: 200%;
    -webkit-transition: .5s ease-out;
    -o-transition: .5s ease-out;
    transition: .5s ease-out;
}
/* Annimation hover filter */
.main-filter-item:hover{
    background-position: left;
}
/* fin animation hover filter */
.main-filter-item-boxIcon{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-align-items: center;
    background-color: var(--color-2);
    width: 35px;
    border-radius: 35px;
}
.main-filter-item-boxIcon .fas{
    font-size: 2em;
}

.main-filter-item-text {
    margin: 0;
    padding: 0 8px 0 8px;
    font-size: 2em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-align-items: center;
}

/* main-info-text */
.main-info-text{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 2em;
}
.main-aside-span-icon{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 40px;
    height: 40px;
    border: 1px solid var(--color-3);
    border-radius: 50%; 
    margin-right: 20px;
    
}
.main-aside-span-icon i {
    margin: 0;
    color: var(--color-1);
    font-size: 2em;
    margin-bottom: 5px;
}

/* on fait disparaitre l'icon sur les grand écran*/
.main-form-button i{
    font-size: 2em;
    display: none;
}

/* ================  ASIDE RESPONSIVE ===============  */

/*ECRANS*/
@media screen and (max-width: 1385px) {
    .main-filter-item{
        margin: 5px 0 5px 20px;
    }
}
@media screen and (min-width: 1050px) {
    .main-title {
        font-size: 3vw;
    }
}
@media screen and (min-width: 992px) {
    .main-title {
        font-size: 2.5vw;
    }
}
/*TABLETTES*/    
@media screen and (max-width: 992px) {
    .main-title {
        font-size: 35px;
    }
    .main-form-button-text{
        display: none;
    }
    .main-form-button i{
        display: block;
    }
    .main-filter {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .main-filter-item {
        width: 250px;
    }
}
/*MOBILES*/   
@media screen and (max-width: 768px) {
    .main-title {
        font-size: 25px;
    }
    .main-aside-text{
        font-size: 1.8em;
    }
    .main-form-button{
        min-width: 50px;
    }
    .main-form-button-text{
        display: none;
    }

    .main-form-button i{
        display: block;
    }
    .main-info-text{
        font-size: 1.8em;
    }
}

/* ============================================================================================== */
/* ====================================  ARTICLE STYLES  ========================================= */
/* ============================================================================================== */

.main-article {
    width: 85%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 20px;
    border-radius: 10px;
}
.star-valid {
    color: var(--color-1);
}
.star-none {
    color: var(--color-3);
}
/* ===== SECTION ARTICLE RESPONSIVE ===== */

/*ECRANS*/
@media screen and (max-width: 1260px) {
    .main-article {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse;
    }
}
/* ============================================================================================== */
/* ====================================  S-LEFT STYLES  ========================================= */
/* ============================================================================================== */

.s-left{
    background-color: var(--color-3);
    width: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    border-radius: 10px;
    padding-bottom: 30px;
}
.s-left-title {
    font-size: 2.8em;
    margin-left: 3%;
}
.s-left-box-cards {
    background-color: var(--color-3);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.s-left-card {
    background-color: var(--color-4);
    width: 280px;
    height: 250px;
    margin: 10px 10px 10px 10px;
    padding: 0;
    border-radius: 10px;
    overflow: hidden;
    border: 4px solid #ffffff;
    cursor: pointer;
}
.s-left-card:hover{
    -webkit-box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
            box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.s-left-card-image {
    width: 100%;
    margin: 0;
    height: 60%;
    overflow: hidden;
}
.s-left-card-image img {
	width: 100%;
    height: 100%;
}
.s-left-card-title {
    margin: 0;
    margin-top: 20px;
    padding-left: 10px;
    font-size: 18px;
}
.s-left-card-text{
    font-size: 18px;
    padding-left: 10px;
    margin: 0;
}
.s-left-card-text span{
    font-size: 1.22vw;
    font-weight: bold;
}
.s-left-card-stars .fas{
    margin-left: 10px;
    font-size: 1.22vw;
}
.s-left-deploy{
    font-size: 1.8em;
    font-weight: bolder;
    margin-left: 50px;
}
.s-left-deploy:hover {
    color:var(--color-1);
}

/* ===== S-LEFT RESPONSIVE ===== */

/*ECRANS*/
@media screen and (max-width: 1260px) {
    .s-left{
        margin-top: 15px;
        margin-bottom: 15px;
        width: 100%;
    }  
}
@media screen and (max-width: 750px) {
    .s-left-card {
        width: 100%;
        height: auto;
    }
    .s-left-card-image {
        max-height: 320px;
    }
    .s-left-card-title {
        margin-top: 15px;
    }
    .s-left-card-text{
        font-size: 2.2em;
        margin-top: 15px;
    }
    .s-left-card-text span{
        font-size: 22px;
    }
    .s-left-card-stars .fas{
        margin-top: 25px;
        font-size: 2em;
    }
}

/* ============================================================================================== */
/* ====================================  S-Right STYLES  ========================================= */
/* ============================================================================================== */

.s-right {
    background-color: var(--color-3);
    width: 35%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    border-radius: 10px;
    padding-bottom: 30px;
}
.s-right-box-title{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-right: 20px;
}
.s-right-title {
    font-size: 2.8em;
    margin-left: 3%;
}
.s-right-title-span{
    width: 40px;
}
.s-right-title-span i{
    font-size: 20px;
}
.s-right-box-cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: var(--color-3);
    overflow: hidden;
    height: 100%;
}
.s-right-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;

    background-color: var(--color-4);
    width: 90%;
    height: 180px;
    margin: 10px 10px 0 10px;
    padding: 0;
    border-radius: 10px;
    overflow: hidden;
    border: 4px solid #ffffff;
    cursor: pointer;
}
.s-right-card:hover{
    -webkit-box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
            box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.s-right-card-image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 50%;
    margin: 0;
    overflow: hidden;
}
.s-right-card-image img {
    width: 100%;
}
.s-right-card-descritpion-box{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}
.s-right-card-title {
    margin: 0;
    margin-top: 5px;
    padding-left: 10px;
    font-size: 2em;
}
.s-right-card-text{
    font-size: 18px;
    padding-left: 10px;
    margin: 0;
}
.s-right-card-text span{
    font-size: 18px;
    font-weight: bold;
}
.s-right-card-stars .fas{
    margin-top: 15px;
    margin-left: 10px;
    font-size: 2em;
}
/* ===== s-right RESPONSIVE ===== */

/*ECRANS*/
@media screen and (max-width: 1429px){
    .s-right{
        height: auto;
    }
    .s-right-card{
        width: 80%;
    }
    .s-right-box-cards {
        width: 100%;
        height: 100%;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
}
@media screen and (max-width: 1260px){
    .s-right {
        width: 100%;
    }
    .s-right-box-cards{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }
}
@media screen and (max-width: 1255px){
    .s-right{
        height: auto;
    }
}
@media screen and (max-width: 1000px){
   .s-right-box-cards{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
   } 
}
@media screen and (max-width: 850px){
    .s-right-title {
        font-size: 19px;
    }
    .s-right-card{
        width: 95%;
    }
    .s-right-card-text {
        font-size: 10px;
    }
    .s-right-card-text span{
        font-size: 10px;
    }
}
/* ============================================================================================== */
/* ====================================  MAIN-ACTIVITES STYLES  ========================================= */
/* ============================================================================================== */
.main-activites {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

    width: 85%;
    margin-bottom: 20px;
}
.main-activites-title {
    font-size: 2.8em;
    margin-left: 3%;
}
.main-activites-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;

    height: 500px;
    width: 100%;
}
.main-activites-cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
}
.cards-two {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 15px;
}
.main-activites-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    background-color: var(--color-4);
    width: 100%;
    padding-bottom: 20px;
    border-radius: 15px;
    -webkit-box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
            box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    overflow: hidden;
    cursor: pointer;
}
.card-two{
    max-width: 100%;
    min-height: 40%;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
}
.activites-card-image {
    margin: 0;
    height: 100%;
    width: 100%;
    margin-bottom: 3%;
}
.card-image-two{
    height: 90%;
}
.activites-card-image img {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.activites-card-image figcaption {
    font-size: 2em;
    font-weight: bolder;
    padding-left: 3%;
}

/* ===== ACTIVITES RESPONSIVE ===== */
@media screen and (max-width: 1429px){
    .main-activites-wrapper {

        width: 75%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        row-gap: 20px;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }
    .cards-two{
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-column-gap: 20px;
           -moz-column-gap: 20px;
                column-gap: 20px;
    }
}
@media screen and (max-width: 850px) {
    
    .main-activites-card {
        max-height: 373px;
        width: 100%;
    }
    .main-activites-wrapper{
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
    .cards-two{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .card-image-two{
        max-height: 80%;
    }
    .activites-card-image img {
        min-width: 100%;
        max-height: 350px;
    }
}

/* ============================================================================================== */
/* ====================================  FOOTER STYLES  ========================================= */
/* ============================================================================================== */

#footer {
    background-color: var(--color-3);
    max-width: 100%;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.footer-wrapper-title {
    text-align: start;
    font-weight: bold;
    color: var(--fonts-black);
    font-size: 2.5em;
}
.footer-wrapper-ul{
 padding-left: 0;
}
.footer-wrapper-li{
    list-style: none;   
}
.footer-wrapper-link {
    font-size: 1.8em;
    text-decoration: none;
    color: var(--fonts-black);
}
.footer-wrapper-link:hover {
    color: var(--color-1);
}

/* =============== FOOTER RESPONSIVE =============== */
 
@media screen and (max-width: 768px) {
    #footer {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 5%;
        padding-bottom: 5%;
    }
}